:root{
    --text-color: #263343;
    --background-color: #f0f4f5;
    --accent-color:#d49466;
   
}

body {
    margin: 0px;
    padding:0;
}

a {
    text-decoration: none;
    color: #263343;
}

.navbar {
    z-index: 99;/*클수록 최상위*/
    display: flex;
    top:0%; left:0%;/*nav 위에 여백 없앰*/
    position: fixed;
    justify-content: space-between;
    width : 100%;
    align-items: center;
    background:#f0f4f5;
    opacity: 80%;
    padding: 10px 24px
}

.navbar__logo {
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    
}
.navbar__logo img {
    padding-left: 180px;
    padding-right: 10px;
    
}


.navbar__menu {
    display: flex;
    list-style: none;
    padding-right: 180px;
}

.navbar__menu li {
    padding: 12px 25px;
    text-align: center;
   
}

.navbar__menu :hover {
    color: #8d8c8c;
    border-radius: 4px;
    width: 90%;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    top: 28px;
    
}

/*컨텍트 박스*/
/* #contact_bar{
    position: relative;
} */
#contact_bar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Calling*/
#contact_bar .office_contect{
    width: 33.33%; 
    height: 200px;
    text-align: center;
    background-color: black;
    opacity: 80%; 
    float: left;
}
#contact_bar .office_contect b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 30%;
}
#contact_bar .office_contect p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 30%;

}
.office_contect img{
    position: relative;
    top: 25%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}
/* .office_contect img{
    position: relative;
    top: 30%;
    left: -5%;
    width : 25px;
    height : 25px;
} */


/*email*/
#contact_bar .email{
    width: 33.34%; 
    height: 200px;
    text-align: center;
    background-color: black;
    opacity: 91%; 
    float: left;
}
#contact_bar .email p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 32%;

}
#contact_bar .email b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 45%;
}
.email img{
    position: relative;
    top: 18%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}

/*location*/
#contact_bar .logo_location{
    width: 33.33%; 
    height: 200px;
    text-align: center;
    background-color: black;
    opacity: 80%; 
    float: left;
}
#contact_bar .logo_location b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 27%;
}
#contact_bar .logo_location p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 27%;
}
.logo_location img{
    position: relative;
    top: 22%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}


/*이미지 슬라이드*/


@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
    }
    
    .navbar__logo img {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        margin :0;
        /* width: 100%; */
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;  
    }
    
    .navbar__toogleBtn{
        display: block;
        position: absolute;
        width: 10%;
        height: 10%;
        
    }

    .navbar__menu.active
    {
        display: flex;
    }
    .navbar.active
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px 0px 24px;
    }
}