
#factory img{
    width: 100%;
    margin-bottom: 50px;
    height: 470px;
    opacity: 0.85; 
    filter: brightness(45%);
}
.factory-text{
    position: absolute;
    top: 40%;
	left: 50%;
	transform: translate( -50%, -50% );
    font-size: 5.5em;
    color: whitesmoke;
    
    /* padding: 15px; */
}

#greetings{
    position: relative;
    text-align: center;
}
.greet-contents{
   text-align: center;
}
.greet-title::before{
    content: '';
    width: 80%;
    height: 80px;
    background-color: rgb(22, 58, 130);
    filter: brightness(90%);  
    z-index:-1;
    float: right;
    position:absolute;
    right: 0%;
    margin: 0;
}
.greet-title{
    width: 80%;
    float: right;
    margin: 0;
    font-size: 1.6em;
    letter-spacing: 6px;
    
}
.greet-title span{
    filter: brightness(100%);
    color: white;
    line-height: 80px;
    margin-left: 165px;
}
#greetings .certificate, .greetings{
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
#greetings .certificate img{
    width: 400px;
    height: 540px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    bottom: 45px;
}
.greetings p{
    font-size: 1.2em;
}
.greetings{
    margin: 50px 0px;
    position: relative;
}


#history {
    width: 100%;
    height: fit-content;
    position: relative;
    text-align: center;
}
#history .history-box{
    height: 100%; 
}
.history-title span{
    color: white;
    line-height: 80px;
    vertical-align: middle;
}
.history-title::before{
    content: '';
    width: 100%;
    height: 80px;
    background-color: rgb(22, 58, 130);
    filter: brightness(90%);  
    left:0;top:0;bottom:0;right:0; 
    z-index:-1;
    position:absolute;
}
.history-title{
    font-size: 1.6em;
    letter-spacing: 6px;
}

#history ul{
    list-style: none;
    height: 100%;
    width: 3px;

    background-color: rgb(80, 101, 120, 0.5);
    margin-left: 25%;
    padding: 0;
    margin-top: 40px;
    /* margin-bottom: 0; */

}
#history li{
    width: 500px;
    height: 100px;
    margin-right: 0px;
    display: inline-block;
    position: relative;
}
#history li dt::before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 4px solid rgb(22, 58, 130);
    opacity: 1;
    position: absolute;
    margin-left: -9px;
}
.secondIn201206{
    top:30px;
}
dd{
    display: block;
    position: absolute;
    top:0px;
    left: 200px;
}
dt #text{
    margin-left: 10px;
}
dt{ 
    width: 200px;
    position: relative;
    text-align: center;
}
dt, dd{
    margin: 0;
    font-size: 1.4em;
}