@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root{
    --text-color: #263343;
    --background-color: #f0f4f5;
    --accent-color:#d49466;

}

body {
    margin: 0px;
    padding:0;
    -webkit-tap-highlight-color : transparent;
    -moz-tap-highlight-color : transparent;
    -ms-tap-highlight-color : transparent;
    -o-tap-highlight-color : transparent;
    /* forbidden copy
     -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; */
}


a {
    text-decoration: none;
    color: #263343;
}

/*font*/
.navbar__logo {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:800;
}


/*navbar*/
.navbar {
    z-index: 99;/*클수록 최상위*/
    display: flex;
    top:0%; left:0%;/*nav 위에 여백 없앰*/
    position: fixed;
    justify-content: space-between;
    width : 100%;
    align-items: center;
    background:#f0f4f5;
    opacity: 80%;
    padding: 10px 24px;
    
}

.navbar__logo {
    font-size: 30px;

}
.navbar__logo a{
    height: 68.5px;
    line-height: 68.5px;
}
.navbar__logo img {
    width : 70px;
    height : 60px; 
    margin-right: 15px;
}


.navbar__menu {
    display: flex;
    list-style: none;
    padding-right: 180px;
}

.navbar__menu li {
    padding: 12px 25px;
    text-align: center;
   
}

.navbar__menu :hover {
    color: #8d8c8c;
    border-radius: 4px;
    width: 90%;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 80px;
    top: 25px; 
    width: 10%;
        height: 10%; 
}

.copyright{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 75px;
    /* background-color: black;
    color: aliceblue; */
    line-height: 75px;
    font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        margin :0;
        /* width: 100%; */
    }

    .navbar__menu li {
        width: 100%;
        display: block;
        text-align: center;  
        /* border-bottom: 1px solid whitesmoke; */
    }
    /* .navbar__menu li:last-child{
        border-bottom: 0px;
    } */
    
    .navbar__toogleBtn{
        display: block;
        /* display: block;*/
        /* position: absolute; */
        width: 26px;
        height: 26px; 
        
    }

    .navbar__menu.active
    {
        display: flex;
    }
    .navbar.active
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px 0px 24px;
        opacity: 100%;
    }
}