:root{
    --text-color: #263343;
    --background-color: #f0f4f5;
    --accent-color:#d49466;
   
}

body {
    margin: 0px;
    padding:0;
}

a {
    text-decoration: none;
    color: #263343;
}

.navbar {
    z-index: 99;/*클수록 최상위*/
    display: flex;
    top:0%; left:0%;/*nav 위에 여백 없앰*/
    position: fixed;
    justify-content: space-between;
    width : 100%;
    align-items: center;
    background:#f0f4f5;
    opacity: 80%;
    padding: 10px 24px
}

.navbar__logo {
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    
}
.navbar__logo img {
    padding-left: 180px;
    padding-right: 10px;
    
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-right: 180px;
}

.navbar__menu li {
    padding: 12px 25px;
    text-align: center;
   
}

.navbar__menu :hover {
    color: #8d8c8c;
    border-radius: 4px;
    width: 90%;
}

.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    top: 28px;
    
}

.contact-img{
    opacity: 0.85; 
    filter: brightness(40%);
    /* first
    opacity: 0.85; 
    filter: brightness(40%); */
    /* second
    opacity: 0.7;
    filter: brightness(45%); */
    /* third
    opacity: 0.8;
    filter: brightness(45%); */
    position: relative;
    margin-bottom: 50px;
}
.contact-text{
    position: absolute;
    top: 45%;
    font-size: 5.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-bottom: 50px;
}
#contact-mainimg p{
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    top: 35%;
    width: 100%;
    color: whitesmoke;
}

#division-explaination{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #f0f4f5;
}
#division-explaination span{
    size: 2em;
    font-weight: lighter;
    position: relative;
    top:11px;
    right: 38%;
    padding-bottom:5px;
    border-bottom: #8d8c8c solid 3px;
}

/*contect 내용*/
#contact_contents{
    position: relative;
    width: 100%;
}


/* 지도 */
.contact_info{
    width: 50%;
    margin: 0;
    float: left;
    position: relative;
}

.map #daumRoughmapContainer1675871615256{
    position: relative;
    margin: 0;
    width: 50%;
    float: left;
}
.contact_info ul{
    margin: 0px;
}
.contact_info ul div{
    width: 100%;
    height: 250px;
    float:inline-start;
    margin:0px;
    position: relative;
}
.contact_info ul{
    padding: 0;
}

.contact_info .first-line li div{
    background-color: #000000;
    width: 50%;
    height: 250px;
    margin-right: 0;
    float: left;
    z-index: 4;
}
.office_contect{
    opacity: 0.95;
}
.contact_info .office_contect b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 30%;
}
.contact_info .office_contect p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 30%;

}
.office_contect img{
    position: relative;
    top: 22%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}
.email{
    opacity: 0.85;
}
.contact_info .email p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 32%;
}
.contact_info .email b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 45%;
}
.email img{
    position: relative;
    top: 22%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}

.contact_info .second-line li div{
    background-color: #000000;
    width: 50%;
    height: 250px;
    margin-right: 0px;
    float: left;
    z-index: 4;
}


.location{
    opacity: 0.85;
}
.contact_info .location b{
    color:rgb(224, 224, 245);
    font-size: 16px;
    position: relative;
    top: 27%;
}
.contact_info .location p{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 27%;
}
.location img{
    position: relative;
    top: 22%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
}
.logo{
    opacity: 0.95;
}
.contact_info .logo b{
    color:aliceblue;
    text-align: center;
    position: relative;
    top: 42%;
}
.logo img{
    position: relative;
    top: 35%;
    margin: auto;
    display: block;
    width : 22px;
    height : 22px;
    z-index: 5;
}



body div{
  text-align: center;
  position: relative;
}





@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
    }
    
    .navbar__logo img {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        margin :0;
        /* width: 100%; */
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;  
    }
    
    .navbar__toogleBtn{
        display: block;
        position: absolute;
        width: 10%;
        height: 10%;
        
    }

    .navbar__menu.active
    {
        display: flex;
    }
    .navbar.active
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px 0px 24px;
    }
}
