/*industrylist top*/
span{
    pointer-events: none;
}
.industrylist{
    text-align: center;
    width: 100%;
    position: relative;
    height: 530px;
}
.industrylist .introIndustry{
    position: relative;
    height: 200px;
    width: 100%;
    border-top: 3px solid rgb(164, 185, 226);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    top:55%;
}
.industrylist p{
    font-size: 5em;
    font-weight: 800;
    text-align: center;
    position: relative;
    top:32%;
    margin: 0px;
}
.introIndustry .icon{
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 30px;
}

.introIndustry div{
    position: relative;
    bottom:65px;
    display: inline-block;
    text-align:center;
}
.introIndustry .text{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
}
.introIndustry .text b{
    display: block;
    margin-bottom: 7px;
    font-size: 1.6em;
}
.introIndustry .text span{
    font-size: 1.2em;
}
.introIndustry #industry-machine{
    width: 260px;
    height: 200px;
    margin: 0;
}
.introIndustry #industry-semicon, .introIndustry #industry-medicine{
    width: 260px;
    height: 200px;
}

/*industry detail*/
.industry-detail .icon{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    left: 95px;
    top: -28px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.industry-detail .text b{
    width: fit-content;
    height: 20px;
    background-color: white;
    position: absolute;
    left: 160px;
    top: -15px;
    text-align: center;
    margin-left: auto; margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    font-size: 1.6em;
    
}
#industry-machine-contents{
    position: relative;
    /* width: 1438px; */
    width: 100%;
    border-top: 1px solid rgb(164, 185, 226);
}
#industry-semicon-contents{
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(164, 185, 226);
}
#industry-medicine-contents{
    position: relative;
    top: 10px;
    width: 100%;
    /* height: 410px; */
    border-top: 1px solid rgb(164, 185, 226);
}
.industry-detail li{
    list-style: none;
}



/*other products*/
.other-machine-part{
    position: relative;
    height: 420px;
    width: 90%;
    margin-left: 100px;
    text-align: center;
}
.other-machine-part div{
    display: inline-block;
    text-align: center;
}
.other-machine-part .value-body{
    position: absolute;
    top:25%;
    /* left: 8.6%; */
}
.other-machine-part .step-motor-flange{
    position: absolute;
    top:25%;
    left: 50%;
}
.other-machine-part .text-value-body{
    position: absolute;
    top:-18%;
    left: 70px;
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 1.6em;
    padding: 8px;
}
.other-machine-part .text-step-motor-flange
{
    position: absolute;
    top:-18%;
    left: 130px;
    width: 95%;
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 1.6em;
    padding: 8px;
}
.value-body-img{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 1%;
    left: 15%;
    padding: 0; 
}
.step-motor-flange-img{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 21%;
    padding: 0; 
}
.motor{
    width: 60%;
    height: 100%;
    /* height: 230px; */
    position: absolute;
    left: 23%;
    padding: 0; 
    bottom:11%;
    visibility: hidden;
}
.other-machine-part li{
    width: 30%;
    height: 250px;
}
.other-machine-part span{
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
}
.other-machine-part li:hover .overlay{
    position: absolute;
    left: 0%;
}
.other-machine-part li:hover .motor{
    visibility: visible;
}
.other-machine-part li:hover div .step-motor-flange-img, .other-machine-part li:hover .value-body-img{
    visibility: hidden;
}
.other-machine-part li:hover span{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
    color: aliceblue;
}

/*piston*/
.piston{
    position: relative;
    height: 420px;
    width: 90%;
    margin-left: 100px;
    
}
.piston .related-img {
    list-style: none;
    width: 100%;
    height: 420px;
    margin-right: 0px;
}

.piston .text-piston{
    position: absolute;
    top:13%;
    left: 70px;
    /*left: 50%;/*중앙*/
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 1.6em;
    /* padding: 8px; */
    /* border: 6px rgb(164, 185, 226)  solid; */
}
#industry-machine-contents .related-img li, #industry-semicon-contents li{
    margin-right: 20px;
    position: relative;
    top:90px;
    width: 30%;
    height: 250px;
    display: inline-block;
}

.second-piston{
    width: 75%;
    height: 100%;
    /* height: 250px; */
    position: absolute;
    top: 0%;
    left: 13.5%;
    padding: 0; 
    margin-right: 0px;
}
.related-img li .first-piston, .third-piston{
    width: 100%;
    height: 100%;
    /* height: 250px; */
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;  
}
.piston li:hover div img{  
    visibility: hidden;
}
.piston li:hover div span{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
    color: aliceblue;
}
/*IGS*/
.IGS {
    position: relative;
    height: 420px;
    width: 90%;
    margin-left: 100px;
}
.IGS .related-img {
    list-style: none;
    height: 420px;
}
.first-ISG, .second-ISG{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    /* height: 250px; */
}
.IGSwhole{
    position: absolute;
    left: 50%;top: 43%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 70%;
    /* height: 190px; */
    visibility: hidden;
}
li:hover .IGSwhole{
    visibility: visible;
}
.IGS .text-IGS{
    position: absolute;
    top:13%;
    left: 170px;
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 1.6em;
}
.IGS li:hover .first-ISG, .IGS li:hover .second-ISG{
    visibility: hidden;
}
.IGS li:hover div span{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
    color: aliceblue;
}

#industry-semicon-contents li{
    width: fit-content;
    margin-right: 20px;
    position: relative;
    top:90px;
    width: 30%;
    height: 250px;
    display: inline-block;
    
}

/*Air-Sampling-Cone contents*/
.Air-Sampling-Cone {
    position: relative;
    height: 420px;
    width: 90%;
    margin-left: 100px;
}
.Air-Sampling-Cone .related-img {
    list-style: none;
    width: 100%;
    height: 420px;
}

.Air-Sampling-Cone .text-Air-Sampling-Cone{
    position: absolute;
    top:13%;
    /* left: 15.4%; */
    left: 110px;
    /*left: 50%;/*중앙*/
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 1.6em;
    /* padding: 8px; */
    text-align: center;
    /* border: 6px rgb(164, 185, 226)  solid; */
}
#industry-medicine-contents li{
    width: 30%;
    margin-right: 20px;
    position: relative;
    top:90px;
    height: 250px;
    display: inline-block;
}

#industry-medicine-contents li:hover div img{  
    visibility: hidden;
}
#industry-medicine-contents li:hover div span{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
    color: aliceblue;
}

#industry-medicine-contents .related-img li img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;  
}

/*공통부분*/
.related-img li span{
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,-50%);
    font-size: 1.3em;
}

li .inner{ 
    width: 100%;
    height: 100%;
    /* height: 250px; */
    position: relative;
    border-top: 1px rgb(224, 224, 224) solid;
    border-left: 1px rgb(224, 224, 224) solid;
    border-right: 1px rgb(224, 224, 224) solid;
    border-bottom: 1px rgb(151, 180, 240) solid;
}
.inner .innerText{
    display: none;
}
.overlay {
    width: 100%;
    height: 0%;
    bottom:0%;
    position: absolute;
    overflow: hidden;
    
}

li:hover .inner{
    border-bottom: 1px rgb(224, 224, 224) solid;
}
li:hover .overlay{
    background-color: rgba(0, 0, 0); 
    height : 100%; 
    transition: all 0.5s;
    border-top: 1px solid rgb(151, 180, 240);
}
li:hover .inner .innerText{
    display: block;
    width: 100%;
    position: absolute;
    color: aliceblue;
    margin:0;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 1000px) {
    .introIndustry #industry-machine, .introIndustry #industry-semicon, .introIndustry #industry-medicine{
        width: 25%;
        height: 35%;
        bottom:23%;
    }
    .introIndustry .icon{
        width: 35%;
        height: 110%;
    }
    .introIndustry .text b{
        font-size: 1.2em;
        margin-top: 7%;
    }
    .introIndustry .text span{
        font-size: 1em;
    }

    .other-machine-part, .piston, .IGS, .Air-Sampling-Cone{
        margin-left: 50px;
    }
    .other-machine-part{
        height: 350px;
        margin-top: 20px;
    }

    .piston .text-piston, .other-machine-part .text-step-motor-flange, .other-machine-part .text-value-body,
    .IGS .text-IGS, .Air-Sampling-Cone .text-Air-Sampling-Cone{
        font-size: 1.3em;
    }

    #industry-machine-contents .related-img li , #industry-semicon-contents li , #industry-medicine-contents li {
        height: 200px;
    }
    .other-machine-part li{
        height: 200px;
    }
}
@media screen and (max-width: 800px) {
    .introIndustry #industry-machine, .introIndustry #industry-semicon, .introIndustry #industry-medicine{
        width: 25%;
        height: 33%;
        bottom:20%;
    }
    .introIndustry .icon{
        width: 40%;
        height: 100%;
    }
    .introIndustry .text b{
        font-size: 1.1em;
        margin-top: 4%;
    }
    .introIndustry .text span{
        font-size: 0.9em;
    }
    li:hover .inner .innerText{
        
        text-align: center;
        font-size: large;
    }
    

    
    .piston .text-piston, .other-machine-part .text-step-motor-flange, .other-machine-part .text-value-body
    {
        font-size: 1.2em;
        left: 60px;
    }
    .IGS .text-IGS{
        left: 160px;
    }
    #industry-medicine-contents li:hover div span, .piston li:hover div span{
        font-size: 1em;
    }
    .IGS li:hover div span, .other-machine-part li:hover span{
        font-size: 1em;
        text-align: center;
        width: 100%;
    }

    .other-machine-part li, #industry-machine-contents .related-img li , #industry-semicon-contents li , #industry-medicine-contents li {
        width: 28%;
        height: 150px;
    }
    
    .other-machine-part, .piston, .piston .related-img, .IGS, .IGS .related-img, .Air-Sampling-Cone, .Air-Sampling-Cone .related-img{
        height: 350px;
    }
    
    .related-img li span, .other-machine-part span{
        bottom: -30%;
    }
    .related-img li span, .other-machine-part span{
        font-size: 1.1em;
    }
    
}
@media screen and (max-width: 650px) {
    .introIndustry .icon{
        width: 40%;
        height: 80%;
        bottom: 25%;
    }
    .introIndustry .text b{
        margin-top: 20px;
    }
    .related-img li span, .other-machine-part span{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 550px) {
    .industrylist p{
        font-size: 4em;
    }

    .introIndustry .text b{
        font-size: 0.9em;/*약품/제약 골라서 지워보기*/
    }
    .introIndustry .text span{
        font-size: 0.8em;
    }

    .other-machine-part .value-body{
        left: 10%;
    }
    .other-machine-part .step-motor-flange{
        left: 60%;
    }
    .other-machine-part .text-value-body{
        top:-15%;
        width: 100%;
    }
    .other-machine-part .text-step-motor-flange{
        top:-22%;
    }
    

    .IGS, .Air-Sampling-Cone, .piston, .other-machine-part{
        width: 100%;
    }
    .piston .related-img, .IGS .related-img, .Air-Sampling-Cone .related-img{
        width: 100%;
    }

    #industry-machine-contents .related-img li , #industry-semicon-contents li , #industry-medicine-contents li {
        margin-right: 10px;
    }
    .other-machine-part, .piston, .IGS, .Air-Sampling-Cone{
        /* margin-left: 25px; */
        margin: 0 auto;
        text-align: center;
    }
    .IGS .text-IGS, .piston .text-piston,
    .Air-Sampling-Cone .text-Air-Sampling-Cone{
        top:13%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
   }
   #industry-medicine-contents li:hover div span{
    bottom: 10px;
   }

    .industry-detail .icon{
        width: 30px;
        height: 30px;
        left: 48%;
        transform: translate(-50%,-50%);
        padding-right: 0px;
        z-index: 90;
        
    }
    .industry-detail .text b{
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        top: -2px;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 450px) {

    .other-machine-part li, #industry-machine-contents .related-img li , #industry-semicon-contents li , #industry-medicine-contents li {
        width: 29%;
        height: 150px;
    }

    .industry-detail .text b{
        font-size: 1em;
    }
    .related-img li span, .other-machine-part span{
        font-size: 0.8em;
        width: 100%;
    }

    .industry-detail .text b{
        left: 50%;
        transform: translate(-50%,-50%);
        top: -5px;
        font-size: 1.2em;
    }
}