@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('font.css');

/* 컨텐츠 */
#content {
    padding-bottom: 80px;
    position: relative;
}
.blank-divider {
    height: 120px;
}
/*outside*/
.firm-outside {
    background-image: url("http://www.ise-k.com/asset/main/ISEC.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130vh;
}

.motto {
    top: 100px;
    position: absolute;
    top: 23%; 
    left: 50%;
    transform: translateX(-50%);
}

.motto-container {
    position: relative;
    height: 130vh; /* 배경과 같은 높이 */
    width: 100%;
    align-items: center;
    display: flex;
    background: #000000;
    opacity: 0.3;
    z-index: 10; /* 텍스트가 배경 위에 표시 */
}

.motto {
    text-align: center;
    color: white;
    font-weight: bold;
}

.motto-ko {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.motto-en {
    font-size: 2rem;
    font-style: italic;
}
.motto-line {
    border-bottom: 1px white solid;
}

/*inside*/
#middle {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    justify-content: center; /* 세로 방향 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
#menu-title-container {
    margin: 3.4em;
    position: relative;
    text-align: center; 
    justify-content: center; /* 가로 정렬: 가운데 */
    align-items: center;
}
.bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 116px;
    height: 10px;
    background-color:#20397A;
}

.inside-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-img {
    display: flex;
    justify-content: center; /* 이미지 가운데 정렬 */
    align-items: center; /* 이미지 세로 정렬 */
}
.firm-inside-img {
    width: 95%; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 1000px){
    
}

@media screen and (max-width: 780px){
    
}
@media screen and (max-width:600px) {

}
@media screen and (max-width: 490px){
}
@media screen and (max-width: 450px){
    
}