
.main-slider img{
    width: 1000px;
    height: 500px;
    position: relative;
    filter: brightness(80%);
}
.main-slider {
    height: 610px;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    transition: height .4s;
}
.main-slider .swiper-container {
    /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
    width: calc(1000px * 3 + 20px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((1000px * 3 + 20px) / -2);
}
.main-slider .swiper-slide {
    position: relative;
    opacity: .5;
    /* transition: opacity 1s; */
}
.main-slider .swiper-slide-active {
    opacity: 1;
    position: relative;
}
.main-slider .swiper-slide .text{
    display: none;
}
.main-slider .swiper-slide-active .text{
    border: solid white 5px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 130px;
    top:20px;
    left: 250px;
}
.main-slider .swiper-slide-active .text .name{
    font-size: 4em;
    position: absolute;
    font-weight: 900;
    display: block;
    text-align: center;
    top: 30px;
}
/* .main-slider .swiper-slide-active .text .else{
    font-size: 4em;
    position: absolute;
    text-align: center;
    font-weight: 500;
    display: block;
    top: 90px;

} */

.main-slider #firm-inside{
    filter: brightness(65%);
}
.main-slider .swiper-slide-active .firm-inside-name{
    font-size: 4em;
    position: absolute;
    font-weight: 900;
    display: block;
    text-align: center;
    top: 52px;
}
.main-slider .swiper-slide-active .firm-inside-else{
    font-size: 2.5em;
    position: absolute;
    text-align: center;
    font-weight: 500;
    display: block;
    top: 15px;
}


.main-slider .swiper-pagination {
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 10;
}
.main-slider .swiper-pagination .swiper-pagination-bullet {
    background-color: whitesmoke;
    border: #0f296f solid 3px;
    width: 13px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}
.main-slider .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.swiper-prev, .swiper-next{
    display: inline;
}
.swiper-prev img, .swiper-next img{
    width: 70px;
    height: 200px;
}
.swiper-prev, .swiper-next{
    position:absolute;
    top:30%;
    z-index: 98;
}
.swiper-prev{
    left: 0%;
}
.swiper-next{
    right: 0%;
}

/* 컨텐츠 */
#content {
    /* min-height: 500px; */
    padding: 80px 0;
   
}
.contentsBox{
    padding-top: 20px;
}
.contentsBox .title {
    
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.contentsBox .title h3{
    font-size: 2.5rem;
    color: #444;
    margin: 30px 0;
    font-weight: 300;
}

.contentsBox .title p {
    font-size: 1.2rem;
    color: rgba(40,40,40,0.5);
    /* margin-bottom: 30px; */
}


/*내용 설명*/
.message{
    position: relative;
    text-align: center;
}
.message_title_div{
    margin-top: 50px;
}
.message .message_title{
    font-size: 2em;
    border-bottom: 1.5px solid rgb(184, 184, 190);
    /* border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-left: 0;
    border-right: 0;
    border-top: 0; */
}
.message_img{
   width: fit-content;
   margin: auto;
   margin-top: 50px;
}
.message_img img{
    width: 400px;
    height: 400px;
}
.message_img p{
    margin-top: 70px;
    font-size: 1.4em;
}
.message_img span{
    font-size: 1.8em;
}
.satisfied{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}
.precision, .custom{
    position: relative;
    bottom: 15px;
    display: inline-block;
}
.custom{
    top: 12px;
}
/*협력업체*/
#cooperative-firm{
    text-align: center;
}
.cooperative_firm_title{
    font-size: 1.5em;
    border-bottom: 1.5px solid rgb(184, 184, 190);
}
.cooperative_firm_div{
    margin-top: 30px;
}
#cooperative-firm ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}
/*first_office*/
#cooperative-firm .first_office{
    width: 25%; 
    height: 180px;
    text-align: center;
    float: left;
}
#cooperative-firm .first_office b{
    color:rgb(19, 19, 54);
    font-size: 16px;
    position: relative;
    top: 31%;
    margin-left: 4px;
}
.first_office img{
    position: relative;
    top: 29%;
    margin: auto;
    display: block;
    width : 120px;
    height : 40px;
}


/*second_office*/
#cooperative-firm .second_office{
    width: 25%; 
    height: 180px;
    text-align: center;
    float: left;
}
#cooperative-firm .second_office b{
    color:rgb(19, 19, 54);
    font-size: 16px;
    position: relative;
    top: 53%;
}
.second_office img{
    position: relative;
    top: 17%;
    margin: auto;
    display: block;
    width : 40px;
    height : 40px;
}

/*third_office*/
#cooperative-firm .third_office{
    width: 25%; 
    height: 180px;
    text-align: center;
    float: left;
}
#cooperative-firm .third_office b{
    color:rgb(19, 19, 54);
    font-size: 16px;
    position: relative;
    top: 32%;
}
.third_office img{
    position: relative;
    top: 28%;
    margin: auto;
    display: block;
    width : 160px;
    height : 40px;
}

/*forth_office*/
#cooperative-firm .forth_office{
    width: 25%; 
    height: 180px;
    text-align: center;
    float: left;
}
#cooperative-firm .forth_office b{
    color:rgb(19, 19, 54);
    font-size: 16px;
    position: relative;
    top: 40%;
}
/* body{
    background-color: whitesmoke;
} */
